body{
    margin:0;
  
}

h1{
    text-align: center;
    color:white;
    font-size:60px;
    position:relative;
    margin-top:120px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

h{
    font-size: 120%
}

p{
    font-size:20px;
    margin-right: 15px;
    text-align:center;
}

#logo{
    background-color: white;
    width: 100%;
    border-bottom: 1px solid #cccccc;
    
}

#new{
    width:25%
}

#links{
    float:right;
    margin-right:20px;
    margin-top:20px
}

#links a{
    text-decoration:none;
    margin-right:20px
   
}


#links a:hover{
    opacity: 50%;
}



.menu {
    background-color:#ff6666;
    position:absolute;
    display:flex;
    padding:0;
    margin:0;
    list-style:none;
    width:300px;
    flex-direction:column;
    margin-left:-400px;
    transition: 0.5s;
    Z-index:2;
    height:100%
}

.menu ul{
    margin:0;
    padding:0;
    
}

.menu a:nth-child(1){
    margin-top:60px
}

.menu a{
    display:block;
    text-decoration:none;
    color:black;
    font-size: 20px;
    font-family: "Segoe UI",Arial,sans-serif;
    padding: 15px 20px;
    margin:0;
    
}

#orçamento{
    border: 2px solid  #ff4d4d;
    background-color: #ff4d4d;
    color: white;
    border-radius:5%;
    width: 150px;
    margin-left: 5px;
}

#orçamento:hover{
   background-color:red;
   border: red;
   transition: 0.5s
    
}

.menu a:hover{
    color: red;
    text-decoration:none;
}


#btn{
    display:none;

}


header label:hover{
    opacity: 50%;
    cursor:pointer
}


header label{
    font-size:40px;
    display:block;
    padding: 5px 10px;
    width:20px;
    position: absolute;
    Z-index:5
}



#btn:checked ~ .menu{
    transform: translateX(400px)
        
}


#mais{
    bottom:0;
    float:bottom;
    width:100%;
    background-color: rgb(64, 64, 64);
    margin:0;
    padding-bottom:5px
    

}

h2{
    color:white;
    font-size:10px
}

h3{
    position:relative;
    padding-top:80px;
    margin-left: 30px;
    margin-right:none;
    padding-right:none;
    width:250px;
    font-size:60px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    margin-bottom:50px;
    border-bottom:5px solid red;
}


#mais{
    width:100%;
    height:500px;
    bottom:0;
}


#mais ul{
    height: 300px;
    margin-bottom: 0;
}


#mais li {
    list-style: none;
    padding:3px
}


#mais li a{
    text-decoration: none;
    color:#999999;
    font-size:20px;
}

#mais li a:hover{
    color: white
}

#mais-qsm{
    color:gray;
    font-size: 15px;
}

#menuf{
    display:flex;
    flex-direction: column;
    float:right;
    margin-right:500px;
    margin-top: 100px;
    
}

#menuf li a{
    font-size:15px;
}


footer{
    position:relative;
    bottom:0;
    width:100%;
}

#qms{
    display:block;
    margin-left: 400px;
    margin-right:0 ;
    margin-bottom:0 ;
    margin-top:0 ;
    padding-top: 100px;
    position:absolute;
    height:200px;
    width:250px
}


#rodape{
    height:100px;
    float:bottom;
    bottom:0;
    text-align: center; 
    font-size:20px;
    margin-left:50px ;
    margin-right:50px ;
    border-top:1px solid gray;
    padding: 40px;
    color:gray
}

main{
    background-color:gray;
    margin-top:14px;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    height:700px
}



.pblock{
    text-align: center;

}


#btn-cal{
    background-color: #ff5050;
    border:1px solid red;
    margin-left: 5px;
    margin-right: 5px;
    height: 60px;
}

#btn-cal:hover{
    border: 1.6px solid black;
}

#frete{
    border:3px solid black;
    float:right;

}

#entregas{
    width: 60%;
    height: 100%;
    background-color:#ff5050; 
    border: 7px double black;
    margin-left: 40%;
    position:relative
}

#dist{
    border-bottom:3px solid black;
    border-right:3px solid black;
}

#peso{
    border-bottom:3px solid black;
    border-right:3px solid black;
}

#porPeso{
    border-bottom:3px solid black;
    border-right:3px solid black;
}

#valor{
    border-bottom:3px solid black;
    border-right:3px solid black;
}

#resultado{
    border-bottom:3px solid black;
    border-left:3px solid black;
}

#opcoes{
    float:right;
    height: 60px
}

#prazo{
    border-bottom:3px solid black;
    border-left:3px solid black;
}

#dias{
    border-bottom:3px solid black;
    border-left:3px solid black;
}

#calculo{
    display:flex;
    margin-top:80px;
    margin-bottom: 100px;
    margin-left: 30px
}

@media(max-width:1080px){

    #menuf{
        margin-right: 70%
    }

    #qms{
        margin-left: 50%
    }

    #mais{
        margin-top:100%
    }

}