body{
    margin:0;
    background-color:white;
}

h1{
    text-align: center;
    color:white;
    font-size:60px;
    position:relative;
    margin-top:120px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;

    
}

p{
    font-size:20px;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    justify-content:center;
}

.mais-qsm{
    color:gray;
    font-size: 15px;
}

#logo{
    background-color:white;
    width: 100%;
    border-bottom:1px solid #cccccc;
}


#new{
    width:25%;
}



#links{
    float:right;
    margin-right:20px;
    margin-top:20px
}

#links a{
    text-decoration:none;
    margin-right:20px
   
}


#links a:hover{
    opacity: 50%;
}



.menu {
    background-color: #ff6666;
    position:absolute;
    display:flex;
    padding:0;
    margin:0;
    list-style:none;
    width:300px;
    flex-direction:column;
    margin-left:-400px;
    transition: 0.5s;
    Z-index:5;
    height:100%
}

.menu ul{
    margin:0;
    padding:0;
    
    
}

.menu a:nth-child(1){
    margin-top:60px
}

.menu a{
    display:block;
    text-decoration:none;
    color:black;
    font-size: 20px;
    font-family: "Segoe UI",Arial,sans-serif;
    padding: 15px 20px;
    margin:0;
    
}

#orçamento{
    border: 2px solid #ff4d4d;
    background-color: #ff4d4d;
    color:white ;
    border-radius:5%;
    width: 150px;
    margin-left: 5px;
}

#orçamento:hover{
   background-color:red;
   border: red;
   transition: 0.5s
    
}

.menu a:hover{
    color: red;
    text-decoration:none;
}


#btn{
    display:none;

}


header label:hover{
    opacity: 50%;
    cursor:pointer
}


header label{
    font-size:40px;
    display:block;
    padding: 5px 10px;
    width:20px;
    position: absolute;
    Z-index:7
}



#btn:checked ~ .menu{
    transform: translateX(400px)
        
}


#mais{
    bottom:0;
    float:bottom;
    width:100%;
    background-color: rgb(64, 64, 64);
    margin:0;
    padding-bottom:5px
    

}

h2{
    color:white;
    font-size:30px;
}

h3{
    position:relative;
    text-align:center;
    font-size:60px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    margin-bottom:50px;
}

#mais{
    width:100%;
    height:500px;
}


#mais ul{
    height: 300px;
    margin-bottom: 0;
    
}


#mais li {
    list-style: none;
    padding:3px
}


#mais li a{
    text-decoration: none;
    color:#999999;
    font-size:20px;
}

#mais li a:hover{
    color: white
}

#menuf{
    display:flex;
    flex-direction: column;
    float:right;
    margin-right:30%;
    margin-top: 100px;
    
}

#menuf li a{
    font-size:15px;
}

footer{
    position:relative;
    bottom:0;
    width:100%;
}

#qms{
    display:block;
    margin-left: 400px;
    margin-right:0 ;
    margin-bottom:0 ;
    margin-top:0 ;
    padding-top: 100px;
    position:absolute;
    height:200px;
    width:250px
}


#rodape{
    height:100px;
    text-align: center; 
    font-size:20px;
    margin-left:50px ;
    margin-right:50px ;
    border-top:1px solid gray;
    padding: 40px;
    color:gray
}

main{
    background-color:white;
    margin-top:14px;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    height:700px
}



.pblock{
    text-align: center;

}


#pt2{
    display:flex;
    flex-wrap: wrap;
    height:500px;
    width:100%;
    background-color: #ff6666;
}


#card1{
    margin-left:140px;
    margin-right:50px;
    margin-bottom:50px;
    Z-index:2;
    border: 1px solid gray
}
    

#card1:hover{
    transform: scale(1.2);
    transition: 0.5s;
    cursor: zoom-in
}

#veiculos{
    display:flex;
    flex-direction:row;
}

.col-md-4 img{
    width:100%;
    height:128%
}

#card2{
    margin-top:60px;
    border:none;
    background-color:#ff6666;
    height:500px

}

#card2 img{
    margin-left:10px;
}

@media(max-width:1080px){

    #menuf{
        margin-right: 70%
    }

    #qms{
        margin-left: 50%
    }

    #new{
        width:35%
    }

}